body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */
    background: url(fotodefondo2.jpeg) center center;
    background-size: cover;
}

.contenedor {
    text-align: center;
    padding: 20px;
    background-color: #0a0a0a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* NUEVO: mover el cartel un poco hacia arriba */
    transform: translateY(-125%);
    color: white;
}

.boton-redireccion {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.boton-redireccion:hover {
    background-color: darkred; /* rojo más oscuro al pasar el mouse */
}
